.navigation {
  min-height: 70px;
  // max-height: 70px;
  // height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  align-items: center;

  .logo-container {
    height: 100%;
    max-width: 70px;
    padding: 0 1.5em;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 1em 1em;
      cursor: pointer;
    }
  }
}
